extend ./layout.jade
block head

block content
    .container#login-from
        .row.col-xs-1.col-md-3
        .row.col-xs-12.col-md-4
            .h1 Categories
            .msg=msg
            div
                form(action="/add_category", method='post')
                        input(type="text", name="name", placeholder='Add a new category')
                        input.btn.btn-primary.btn-sm(type="submit", value='Add')
                table#table
                    tbody
                        each category, index in categories
                            .item
                                div.action
                                    form(action='/delete_category/', method='post')
                                        input(type='hidden', value=category.code.toString(), name='code')
                                        input(type='submit', class='btn btn-success btn-xs', value='Delete')
                                    | &nbsp;
                                    span.name=category.name

block page-script
    style.
        #login-from {
            margin-top: 150px;
        }

        button {
            margin-top: 5px;
        }

        .msg {
            margin: 5px;
            color: red;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 50px;
        }