footer
    .container
        .row
            .col-md-4
                span.copyright Copyright © cafe2s 2016
            .col-md-4
                ul.list-inline.social-buttons
                    li
                        a(href='#')
                            i.fa.fa-facebook
            .col-md-4
                ul.list-inline.quicklinks
                    li
                        a(href='#') Privacy Policy
                    li
                        a(href='#') Terms of Use
