extend ./layout.jade
block head

block content

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			// Brand and toggle get grouped for better mobile display
			.navbar-header.page-scroll
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand.page-scroll(href='/')
					| Cafe2s
			// Collect the nav links, forms, and other content for toggling
			//- #bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li.hidden
						a(href='#page-top')
					li
						a.page-scroll(href='#') Nguồn Hàng
					li
						a.page-scroll(href='#') Nhân Viên Kinh Doanh
					li
						a.page-scroll(href='#') Đại lý
					li
						if(user && user.code)
							a.page-scroll(href='/logout') Logout
						else
							a.page-scroll(href='/login') Login

			// /.navbar-collapse
		// /.container-fluid

	// Header
	header
		.container
			.intro-text
				.intro-lead-in Bản tin Kinh Doanh Việt Nam 
				.h3 Hơn 350,000 thành viên tham gia. Cơ hội phá triển kinh doanh tại Việt Nam
				.row
					.col-md-4.col-xs-2.col-sm-3
					.col-md-4.col-xs-8.col-sm-6
						form
							.form-group
								input#email.form-control(type='email', placeholder='Nhập email', name="email",  required=true, data-validation-required-message='Please enter your email address.')
								p.help-block.text-danger
								button.btn.btn-primary 
									i.fa.fa-coffee 
									|  Tham gia
				br
				br
				br
				br
				a#btnDown.btn(href="/home")
					i.fa.fa-chevron-circle-down

	//- section#about
		.container
			.row
				.col-lg-12.text-center
					h2.section-heading Hình Thức Hoạt Động
					h3.section-subheading.text-muted
	// Team Section
	//- section#contact
		.container
			.row
				.col-lg-12.text-center
					h2.section-heading Liên Hệ
					h3.section-subheading.text-muted
			.row
				.col-lg-12
					form#contactForm(action='sendMessage', method='POST')
						.row
							.col-md-6
								.form-group
									input#name.form-control(type='text', placeholder='Tên', name="name", required=true, data-validation-required-message='Please enter your name.')
									p.help-block.text-danger
								.form-group
									input#email.form-control(type='email', placeholder='Email', name="email",  required=true, data-validation-required-message='Please enter your email address.')
									p.help-block.text-danger
							.col-md-6
								.form-group
									textarea#message.form-control(placeholder='Message', name="message", required=true, data-validation-required-message='Please enter a message.')
									p.help-block.text-danger
							.clearfix
							.col-lg-12.text-center
								#success
								button.btn.btn-xl(type='submit') Gửi
block page-script
	style.
		#btnDown{
			font-size: 2em;
			color: #CCC;
		}
		#btnDown:hover {
			color: #9FD632;
		}