doctype html
html
    head

        link(rel="shortcut icon" href="/public/img/icon.png")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block head
body
    include ./nav.jade
    block content
    include ./footer.jade
    include ./libs.jade
    block page-script
