extend ./layout.jade
block head

block content
    .container#login-from
        .row.col-xs-1.col-md-3
        .row.col-xs-12.col-md-4
            h1 Login
            .err=msg
            form(role='form' method="POST")
                .form-group
                    label(for='email') Email:
                    input#email.form-control(type='email' name="email" value="#{email || ''}")
                .form-group
                    label(for='password') Mật khẩu:
                    input#password.form-control(type='password' name="password")
                .form-group
                    input.btn.btn-primary(type='submit' value="Đăng nhập")
                    a.btn.btn-link(href="/register") Đăng ký
                    a.btn.btn-link(href="/forgot") Forgot Password
        .row.col-xs-1.col-md-1
        .row.col-xs-4.col-md-4
            form(role='form')
                .form-group
                    label(for='email')
                    a.btn.btn-danger(href="/login/google") Google
                    a.btn.btn-info(href="/login/facebook") Facebook

block page-script
    style.
        #login-from {
            margin-top: 150px;
        }

        .btn {
            margin-top: 5px;
        }