extend ./layout.jade
block head

block content
	.container#login-from
		.row.col-xs-1.col-md-3
		.row.col-xs-12.col-md-4
			h1  Đăng ký
			.msg=msg
			form(role='form' action="/register" method="POST")
				.form-group
					label(for='name') Tên :
					input#name.form-control(type='name' name="name" value="#{name || ''}")
				.form-group
					label(for='email') Email:
					input#email.form-control(type='email'  name="email"  value="#{email || ''}")
				.form-group
					label(for='password') Mật khẩu:
					input#password.form-control(type='password' name="password")
				.form-group
					button.btn.btn-primary() Đăng ký

block page-script
	style.
		#login-from {
			margin-top: 150px;
		}
		button {
			margin-top : 5px;
		}
		.msg {
			margin: 5px;
			color: red;
		}