extend ./layout.jade
block head

block content
    .container.main-form
        .row.col-xs-2.col-md-3
        .row.col-xs-10.col-md-6
            #example-basic
                h3 Danh mục
                section
                    h4 Loại mặt hàng bạn cung cấp?
                    input.form-control(type="text")
                h3 Sản phẩm
                section
                    h4 Các sản phẩm của bạn?
                    input.form-control(type="text")
                h3 Vị trí
                section
                    h4 Vị trí của bạn?
                    input.form-control(type="text")

block page-script
    link(rel="stylesheet" href="/public/css/jquery.steps.css")
    script(src="/bower_components/jquery.steps/build/jquery.steps.js")
    style.
        .main-form {
            margin-top: 150px;
        }
        .wizard .steps {
            display: none;
        }
        .wizard>.actions .disabled {
            //display: none;
        }
    script.
        $("#example-basic").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true,
            labels: {
                cancel: "Cancel",
                current: "current step:",
                pagination: "Pagination",
                finish: "Tìm đối tác",
                next: "Tiếp",
                previous: "Quay lại",
                loading: "Loading ..."
            },
            forceMoveForward: true,
            onFinishing: function (event, currentIndex){
                alert("Done!");
            }
        });
